<?php
if ($this->adbanner) :
?>
<table>
<tr>
<th>广告</th>
<th>跟踪ID</th>
<th>广告位</th>
<th>上线时间</th>
<th>下线时间</th>
<th>状态</th>
<th>操作</th>
</tr>

<?php
	foreach ($this->adbanner as $a) :
?>
<tr>
<td><strong><?php echo $a['name']; ?></strong> <br />
<?php		if ($a['adtype'] == 0) {  ?>
<img src="<?php echo $a['image']; ?>" style="width:<?php echo $a['width']; ?>;height:<?php echo $a['height']; ?>;border:0;">
<?php } else if ($a['adtype'] == 1) { ?>
<iframe src="<?php echo $a['url']; ?>" width="<?php echo $a['width']; ?>" height="<?php echo $a['height']; ?>" scrolling="no" marginwidth="0" marginheight="0" border="0" frameborder="0" style="border:none;"></iframe>
<?php } ?>

<br />
<?php echo $a['width']; ?> X <?php echo $a['height']; ?>px
&nbsp;&nbsp;链接:
<?php echo $a['url']; ?></td>
<td><?php echo $a['tracid']; ?></td>
<td><?php echo $a['adzone_name']; ?></td>
<td><?php echo date('Y-m-d', $a['uptime']); ?></td>
<td><?php echo date('Y-m-d', $a['downtime']); ?></td>
<td><?php switch ($a['status']) {
case -2:
	echo "已拒绝";
	break;
case -1:
	echo "未审核";
	break;
case 0:
	echo "正常";
	break;
case 1:
	echo "已结束";
	break;
} ?></td>
<td><a href="<?php echo $this->url(array('action'=>'edit', 'id'=>$a['id'])); ?>">编辑</a>&nbsp;&nbsp;<a href="<?php echo $this->url(array('action'=>'delete', 'id'=>$a['id'])); ?>">删除</a></td>
</tr>
<?php
endforeach;
?>
</table>
<?php 
endif;
?>
